<h1>Welcome to <%= TourBooking::Application::PROPERTY_NAME %></h1>

<div class="form-info">
  Welcome to the tour booking site for <%= TourBooking::Application::PROPERTY_NAME %>.  Please enter your email to get started.
</div>

<%= render 'form', user: @user %>
