<h1>Tour Info</h1>

<div class="form-info">
  We need to know a few things about your tour preferences and what you're looking for so that we can better accommodate your needs.
</div>

<%= render 'form', user_tour_preference: @user_tour_preference %>
