<h1>Contact Info</h1>

<div class="form-info">
  We need to know a few thingds to potentially get a hold of you; please provide your contact info below.
</div>

<%= render 'form', user_contact_info: @user_contact_info %>
